[package]
name = "timsseek_cli"
version = "0.20.0"
edition = "2021"

[dependencies]
timsseek = { path = "../timsseek" }
timsquery = { path = "../timsquery" }

regex = "1.11.1"

# Workspace-inherited deps
# tracing-profile = { version="0.10.11",features=["perfetto"] }
tracing-profile = { git = "https://github.com/jspaezp/tracing-profile.git" , branch = "feat/aggregate_common", features=["perfetto"] }
clap = { workspace = true, features = ["derive"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
rayon = { workspace = true }
indicatif = { workspace = true }
timsrust = { workspace = true }

[[bin]]
name = "timsseek"
path = "src/main.rs"

[[bin]]
name = "timsseek_sample_speclib"
path = "src/sample_speclib.rs"

[target.'cfg(windows)'.dependencies]
mimalloc = { workspace = true, features = ["secure"] }

[features]
instrumentation = ["timsseek/instrumentation"]
