[package]
name = "timsquery"
version = "0.20.0"
edition = "2021"
license = "Apache-2.0"

[dependencies]
nohash-hasher = "=0.2.0"
tabled = "0.17.0"

tracing-bunyan-formatter = "0.3.10"
tracing-chrome = "0.7.2"

# Workspace member deps
timscentroid = { path = "../timscentroid" }

# Workspace-inherited deps
clap = { workspace = true, features = ["derive"], optional = true }
timsrust = { workspace = true }
serde = { workspace = true, features = ["rc"] }
serde_json = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
rayon = { workspace = true }
indicatif = { workspace = true, features = ["rayon"] }
half = { workspace = true }

[features]
clap = ["dep:clap"]
build-binary = ["clap"]

[lib]

[[bin]]
name = "timsquery"
required-features = ["build-binary"]

[target.'cfg(windows)'.dependencies]
mimalloc = { workspace = true, features = ["secure"] }
