[package]
name = "timsquery"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
nohash-hasher = "=0.2.0"
tabled = "0.17.0"

tracing-bunyan-formatter = "0.3.10"
tracing-chrome = "0.7.2"

bincode = "1.3"
zstd = "0.13"

# Workspace member deps
timscentroid = { path = "../timscentroid" }

# Workspace-inherited deps
timsrust = { workspace = true }
serde = { workspace = true, features = ["rc"] }
serde_json = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
rayon = { workspace = true }
indicatif = { workspace = true, features = ["rayon"] }
half = { workspace = true }

[lib]

[target.'cfg(windows)'.dependencies]
mimalloc = { workspace = true, features = ["secure"] }
